<div id='heading'>
	<div id='logo'> <a href='{{site.url}}'> Avukat {{site.first_name}}</a> <a href='{{site.url}}' id='logo_docs'>
	{{site.last_name}}</a>
	<!-- <sub class="sub-header">Hukuk yaşayan bir sanattır.</sub> -->
	
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a  class="menu-item" href="http://barandogan.av.tr/#about">HAKKIMIZDA</a>
            </li>
            <li>
                <a  class="menu-item" href="http://barandogan.av.tr/#portfolio">FAALİYET ALANLARIMIZ</a>
            </li>
            <li>
                <a  class="menu-item" href="http://barandogan.av.tr/#contact">İLETİŞİM</a>
            </li>
            <li>
	            <a class="menu-item"  href="tel:+902126521544">
	            	+90 (212) 652 15 44
	            </a>
            </li>
            <li id="links">
            	<a href='https://facebook.com/{{site.facebook}}' class="icon-facebook"></a> |
				<a href='https://twitter.com/{{site.twitter}}' class="icon-twitter"></a> |
						<a href='https://www.linkedin.com/pub/baran-dogan/99/851/710' class="icon-linkedin"></a>
            </li>

        </ul>
    </div>
