<!-- <div id='heading'>
	<div id='logo'> <a href='{{site.url}}'> Avukat {{site.first_name}}</a> <a href='{{site.url}}' id='logo_docs'>
	{{site.last_name}}</a>
	<sub class="sub-header">Avukat, ceza avukatı, boşanma avukatı, tazminat avukatı, bilişim avukatı.</sub> 
	
</div> -->
 <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#1C9CBA;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only" style="background-color:white;">Degistir</span>
                    <span class="icon-bar" style="background-color:white;"></span>
                    <span class="icon-bar" style="background-color:white;"></span>
                    <span class="icon-bar" style="background-color:white;"></span>
                </button>
                <a class="navbar-brand page-scroll" style="height:38px;padding:3px 15px ;color:black;" href="https://barandogan.av.tr/">Avukat Baran Doğan<br>
                    <hr style="margin:3px 3px 3px 0px;padding:0px;color:white;">
                    <span style="color:white; margin-left: 35px;font-family:none;font-size:0.7em;">Hukuk Bürosu</span>
                </a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <!--    <div style="float:right" class="phone">
                    <i class="fa fa-phone fa-2x"></i>
                    <a href="tel:+902126521544">+90 (212) 652 15 44</a>
                </div> -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a  style="color:white;" href="https://barandogan.av.tr/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:white;" href="https://barandogan.av.tr/#about">HAKKIMIZDA</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:white;" href="https://barandogan.av.tr/#portfolio">FAALİYET ALANLARIMIZ</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:white;" href="https://barandogan.av.tr/blog/">MAKALELER ve HABERLER</a>
                    </li>
                    <li>
                        <a class="page-scroll" style="color:white;"  href="https://barandogan.av.tr#contact">İLETİŞİM</a>
                    </li>
                 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
</nav>
