<!DOCTYPE html lang="tr">
	<head>
		<script type="text/javascript">
		    var host = "barandogan.av.tr";
		    if ((host == window.location.host) && (window.location.protocol != "https:"))
		        window.location.protocol = "https";
		</script>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="zyVXpNljj6tRiNBahSC3r7Or3XimSeTZYyVzhvLOxsA" />
		<!-- Open Graph -->
		<meta property="og:locale" content="tr_TR" />
		<meta property="og:title" content="{{ page.title }}"/>
		<!-- <meta property="og:image" content="http://barandogan.av.tr/img/about/AvukatBaranDogan.jpg"/> -->
		<meta property="og:site_name" content="Avukat Baran Doğan"/>
		<meta property="og:description" content="{{page.summary}}"/>
		<meta property="og:url" content="{{ site.url }}/blog{{ page.url }}">
		<meta property="article:author" content="https://www.facebook.com/avukatbarandogan" />
		 <meta property="og:type" content="article" />
		<meta property="fb:admins" content="701440940" />

		<link rel="canonical" href="{{ site.url }}/blog{{ page.url }}" />
		<link rel="author" href="https://plus.google.com/109509540425455356557">
		<meta name="description" content="{{page.summary}}"/>
		<meta name="keywords" content="{{page.keywords}}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{page.title}} - {{ site.blog_title }}</title>

	</head>
	<body>

		<div id='layout'>
			{% include header.html %}


			<div style='clear: both'></div>
		</div>
		<div id='content'>

			<div id='side-bar'>
				<div id='user'>
					<img id="user-pic" src="{{site.author_img_name_path}}" alt="avukat Baran Doğan" />
					<!-- <div id='user-name'>{{site.first_name}} {{site.last_name}}</div> -->
				</div>
				<div id='date'>
					<div class="intro-address"itemscope itemtype="http://schema.org/Person">
                            <span id="baran-name" style="color:black; font-size:18px;"><span itemprop="jobTitle">Avukat</span>  <span itemprop="name">Baran Doğan</span></span><br>
                           <span id="baran-address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">M.Fevzi Çakmak cd.<br> 1.Sok
                                    No:9 Daire:6
                                </span> <br>
                                 Şirinevler Meydanı/
                               <span itemprop="addressLocality">Bahçelievler</span>/ <span itemprop="addressRegion">İstanbul</span>
                            </span>
                            <br>
                            <a href="tel:02126521544">Tel : <span itemprop="telephone">0.212.652 15 44 </span></a><br>
                            Fax : 0.212.652 06 03
                            <span>
                              <br>
  			    	<div style="font-weight:900">Çalışma Saatlerimiz :</div>
 			    	<div style="font-weight:900"> Hafta İçi  09.00 -18.00 </div>
                     </div>
                       <div class="col-md-12" style="margin-top:20px;padding:0">
		                    <ul class="list-inline social-buttons" style="padding:0px;">
		                        <li style="padding:0px;"><a href="https://www.twitter.com/baran_dogan"><i class="icon-twitter-sign icon-size"></i></a>
		                        </li>
		                        <li style="padding:0px;"><a href="https://www.facebook.com/Avukatbarandogan"><i class="icon-facebook-sign icon-size"></i></a>
		                        </li>
		                        <li style="padding:0px;"><a href="http://tr.linkedin.com/pub/baran-dogan/99/851/710"><i class="icon-linkedin-sign icon-size"></i></a>
		                        </li>
		                        <li style="padding:0px;">
		                            <a href="https://plus.google.com/109509540425455356557" rel="publisher" class ="icon-googleplus-sign icon-size"></a>
		                        </li>
		                    </ul>
            			</div>
				</div>
				<div id='tags'>
					{% for tag in page.tags %}
						<div> <span class='tag {{tag | downcase }}'>{{tag}}</span> </div>
					{% endfor %}
				</div>
			</div>
			<div id='page' itemscope itemtype="http://schema.org/Article">
				<h1 id='page-title'>{{page.title}}</h1>
				{{content}}
				<button type="button" class="btn btn-primary" style="float:right" onclick="window.print()">Yazdır </button>
				{% include facebook.html %}
				{% include twitter.html %}

				<div>
					{% include comment.html %}
				</div>
			</div>

			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			{{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>

		<link rel="stylesheet" async type="text/css" href="/blog/css/socialicious.css">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" async type="text/css" href="/blog/css/main.css">
		<script type="text/javascript" src='{{site.baseurl}}/js/jquery.min.js'></script>
	<script type ="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	{% include googleana.html %}
</body>
</html>
