<html>
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="zyVXpNljj6tRiNBahSC3r7Or3XimSeTZYyVzhvLOxsA" />
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/socialicious.css">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/monokai.css">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<meta name="description " content="Ceza avukatı Baran Doğan, Şirinevler/Bahçelievler/İstanbul adresinde ceza avukatı olarak hizmet vermektedir. Ceza avukatı ile ilgili yazıları burdadır.">
		<title>Baran Doğan'ın Ceza Hukuku ile İlgili Yazıları</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<style type="text/css">
		</style>
	</head>
	<body>
		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>
		<div id='content'>
			<div id='posts'>
				<ul>
					{% for post in site.categories.ceza-hukuku %}
						<li class='post'>
							{% if post.image %}
								<a href='{{site.baseurl}}{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
							{% endif %}
							<div class="postcontent">
								<div class="post-content-top">

									<a href='{{site.baseurl}}{{post.url}}'><h1 class='post-title'>{{post.title}}</h1></a>
									<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}</div>
								</div>
								<div class='post-content'>{{post.summary}}</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div style='clear:both'></div>
		</div>
		<div id='footer'>
			{{site.full_name}} - {{site.copyright_year}}
		</div>
	</div>
	{% include googleana.html %}
</body>
</html>
